/* Sets the noPhone div to not display by default */
.noMobile {
  display: none;
}

/* Changes 3 default properties, and removes user-select/drag */
body *,
body {
  display: flex;
  position: relative;
  color: inherit;
  justify-content: center;
  align-items: center;
  user-select: none;
  place-content: center;
  text-align: center;
  -webkit-user-drag: none;
}

/* Makes all links use a pointer mouse and have no text decoration */
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* Makes the body element center all things, etc. */
body {
  position: unset;
  height: 100vh;
  margin: 0px;
  background: rgb(var(--bg-color));
  font-family: "Comfortaa";
  font-size: 16px;
}

/* Properties to line everything up in the top div. */
.topFooter {
  position: fixed;
  height: 7vh;
  width: 100%;
  top: 0%;
  border-bottom: 0.33vh solid rgb(var(--accent-color));
  justify-content: flex-start;
}

/* Properties to line up items correctly on the top div. */
.rightAlign {
  width: 100vw;
  height: 100%;
  justify-content: flex-end;
  margin-right: 5%;
  gap: 2%;
}
.leftAlign {
  width: 12.5%;
  max-width: 100vw;
  justify-content: flex-start;
  margin-left: 5%;
}

/* Properties all buttons share. */
.rightAlign * {
  height: 100%;
  width: 12.5vw;
  color: white;
  font-size: 1.25vw;
  line-height: 7vh;
  display: block;
  transition: .2s ease-in-out;
  border-bottom-width: 0.33vh;
  border-bottom-style: none;
}
.rightAlign *:hover {
  color: rgb(var(--accent-color));
  cursor: pointer;
  border-bottom-style: solid;
  background: linear-gradient(to top, rgb(var(--accent-color), .5), transparent);
}
.rightAlign *:active, .rightAlign [active=""] {
  color: rgb(var(--accent-color));
  border-bottom-style: solid;
  background: linear-gradient(to top, rgb(var(--accent-color), .25), transparent);
}

/* Unique properties of the home button. */
.homeIcon {
  transition: .2s ease-in-out;
  width: 12.5vw;
  color: rgb(var(--accent-color));
  line-height: 6vh;
  padding-right: 1vw;
  padding-left: 1vw;
  border-width: 0.33vh;
  border-radius: .5vw;
  border-style: dashed;
  font-size: 1.25vw;
  margin-left: 2.5%;
  cursor: pointer;
}
.homeIcon:hover {
  font-size: 1.35vw;
}
.homeIcon:active {
  font-size: 1.15vw;
}

/* Properties to line everything up in the actual app. */
.appContainer {
  margin-top: 7vh;
  width: 100vw;
  height: 87vh;
  position: absolute;
  justify-content: flex-start;
}

/* Properties unique to the "About Me" Section */
.aboutMe {
  height: 80%;
  width: 25%;
  border-radius: .5vw;
  border-width: 0.33vh;
  border-color: rgb(var(--accent-color));
  border-style: dashed;
  margin-left: 5%;
  margin-right: 5%;
}

/* Properties unique to the "Download Pack" Section */
.downloadPack {
  height: 80%;
  width: 75%;
  border-radius: .5vw;
  border-width: 0.33vh;
  border-color: rgb(var(--accent-color));
  border-style: dashed;
  margin-left: 5%;
  margin-right: 5%;
}

/* Selector indicator for buttons */
[active]::before, [active]::after {
  content: "-"
}

/* Detects if you're a mobile user and disables the website */
@media screen and (max-aspect-ratio: 16/9) {
  body * {
    display: none;
  }

  .noMobile {
    position: fixed;
    display: flex;
    color: rgb(148, 46, 46);
    font-size: 3.5vh;
    flex-wrap: wrap;
    background: linear-gradient(to top, rgb(20, 15, 10), rgb(10, 5, 0));
    width: 100vw;
    height: 100vh;
  }

  .noMobile * {
    display: inherit;
  }

  .mobileMsg {
    width: 80vw;
    height: 20vh;
  }

  .noMobileImg {
    width: 40vw;
    height: 42.5vh;
  }
}

:root {
  --bg-color: 5, 0, 0;
  --accent-color: 70, 70, 210;
}