.centerContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadPack {
  height: 80vh;
  width: 30vw;
  margin: 20px;
  background: rgba(26, 26, 26, .8);
  border-radius: 8px;
  border-style: solid;
  border-color: linear(to top, rgba(26, 26, 26, .8), rgba(0, 255, 255, 0.8));
  border-width: 1px;
}

.packDetails {
  height: 65vh;
  width: 70vw;
  margin: 20px;
  background: rgba(26, 26, 26, .8);
  border-radius: 8px;
  border-style: solid;
  border-color: linear(to top, rgba(26, 26, 26, .8), rgba(0, 255, 255, 0.8));
  border-width: 1px;
}