body,html{
    margin: 0;
    padding: 0;
    font-family: cursive;
    width: 100%;
    height: 100%;
}
.section-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(https://wallpaperaccess.com/full/8436173.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 10s infinite;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}
.content h1{
    color:rgb(0, 0, 0);
    font-size: 60px;
    letter-spacing: 16px;
}
.content a{
    background: #000000;
    padding: 10px 24px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

p{
    font-size: 20px;
    padding: 10px;
    line-height: 24px;
}

@keyframes slide {
    0%{
        background-image: url{https://s.yimg.com/ny/api/res/1.2/6t4g0cdW667xHIPDP8QkRw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTQ4MDtjZj13ZWJw/https://media.zenfs.com/en-US/homerun/businessinsider.com/054eb9e135cd8a61343ccdbe087c1ffc};
    }
    33%{
        background-image: url{https://w0.peakpx.com/wallpaper/920/536/HD-wallpaper-minecraft-lms-xbox.jpg};
    }
    67%{
        background-image: url{https://e1.pxfuel.com/desktop-wallpaper/174/903/desktop-wallpaper-microsoft-and-mojang-release-minecraft-education-pack-to-help-minecraft.jpg};
    }
}