body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(10, 10, 10);
  font-family: "Comfortaa";
  font-size: 16px;
}

.appContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  bottom: -5%;
}

.downloadPack {
  height: 65vh;
  width: 30vw;
  margin: 2.5%;
  background: linear-gradient(to top, rgb(10, 10, 10), rgb(15, 15, 15));
  border-width: .5px;
  border-radius: 4px;
  border-style: dashed;
  border-color: rgb(100, 36, 255);
}

.packDetails {
  height: 65vh;
  width: 70vw;
  margin: 2.5%;
  background: linear-gradient(to top, rgb(10, 10, 10), rgb(15, 15, 15));
  border-width: .5px;
  border-radius: 4px;
  border-style: dashed;
  border-color: rgb(100, 36, 255);
}

.topFooter {
  position: absolute;
  height: 10vh;
  width: 100vw;
  top: 0%;
  background: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeButton {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-width: .5px;
  border-radius: 4px;
  border-style: dashed;
  border-color: rgb(100, 36, 255);
  width: 15vw;
  height: 10vh;
}